/* Accordion.module.css */

.accordion {
  border-radius: 0.5rem;
  overflow: hidden;
}

.tab {
  position: relative;
}

.tab__content {
  max-height: min-content;
  overflow: hidden;
}

.tab__label,
.tab__close {
  display: flex;
  color: black;
  background: #227093;
  cursor: pointer;
}

.tab__label {
  justify-content: space-between;
  padding: 1rem;
}

.tab__label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transform: rotate(90deg);
}

.tab__content p {
  margin: 0;
  padding: 1rem;
}

.tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}

/* Arrow animation */
.tab:hover .tab__label::after {
  animation: bounce 0.5s infinite;
}

.tab input:checked ~ .tab__label::after {
  transform: rotate(270deg);
}

/* Additional styles for the open state */
.tab input:checked ~ .tab__content {
  max-height: min-content;
}
.tab__content-enter {
  max-height: 0;
  opacity: 0;
}

.tab__content-enter-active {
  max-height: 10rem; /* Açık durumda max yüksekliği belirtin */
  opacity: 1;
}

.tab__content-exit {
  max-height: 10rem; /* Açık durumda max yüksekliği belirtin */
  opacity: 1;
}

.tab__content-exit-active {
  max-height: 0;
  opacity: 0;
}
